/* Enter your custom styles here */
.HBoxShadow {
    box-shadow: 0 0 10px 0px lightgrey;
    border-radius: 1rem;
}

.selectRadius .sapMInputBaseContentWrapper{
    border-radius: 2rem !important;
    border-color: #0854a0;
}

.textBold {
    font-weight: bold;
}

.sapSuiteCpMCVerticalAlignmentContainer{
    max-width: 100% !important;
}
.sapSuiteCpMCChartBar>div {
    margin-top: 0.35rem !important;
}
.sapSuiteCpMCVerticalAlignmentContainer{
    font-family: "100","100full",Arial,Helvetica,sans-serif !important;
}

.sapSuiteCpMCChartContent.sapSuiteCpMCLookL .sapSuiteCpMCChartItem {
    margin-bottom: 2rem !important;
}
.sapSuiteCpMCChartContent.sapSuiteCpMCLookM .sapSuiteCpMCChartItem {
    margin-bottom: 2rem !important;
}

.sapSuiteCpMCChartContent.sapSuiteCpMCLookL {
    font-size: 1rem !important;
}